.thumbnail {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center center;
    border: 5px solid rgba(212, 212, 212, 0.679);
}

.thumbnail.round {
    border-radius: 10%;
}

.thumbnail.circle {
    border-radius: 50%;
}
